<div id="myCarousel" class="carousel slide" data-ride="carousel">
					 <!-- Indicators -->
					  <% count = 0%>
					  <% profile_car.profile_car_photos.each do |i|%>
					  	<ol class="carousel-indicators">
					  		<% if(count==0)%>
					  			<ol class="carousel-indicators">
								    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
								</ol>
					  		<% elsif %>
					    		<li data-target="#myCarousel" data-slide-to="<%= i.id.to_s %>" </li>
					    	<% end %>
					  	</ol>
					  	<% count = count + 1%>
					  <% end %>
					  
					  <!-- Wrapper for slides -->
					  <div class="carousel-inner" role="listbox">
					  	<% count = 0%>
					  	
					    <% profile_car.profile_car_photos.each do |i|%>
					    	<% if(count==0)%>
					    		<div class="item active imagediv">
								   <%= image_tag i.avatar.url, :style => "vertical-align: middle;  float: none;", height: '350', class: "img-responsive img-thumbnail" %>
								</div>
					    	<% elsif %>
					    		<div class="item imagediv" style="margin-top: -46px;">
					    			<%= image_tag i.avatar.url, :style => "vertical-align: middle;  float: none;" ,height: '350', class: "img-responsive img-thumbnail" %>
					    		</div>
					    	<% end %>
					    	<% count = count + 1%>
					    <% end %>
					  </div>

<!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  
</div>

  
  