<%= form_for @inventory do |f| %>

	<%= render 'shared/errors', object: @inventory %>
	<p>
   		<%= f.text_field :name,  class: "form-control", placeholder: "Inventory name"  %>
 	</p>
 	<p>
 		<%= f.submit "Create Inventory", class: "btn btn-lg btn-primary btn-block btn-signin" %>
 	</p>

<% end %>