<div class="jumbotron hoctransparent hocwhite">
	<div class="container hoctransparent">
		<div class="col-md-6 col-md-offset-2">
			<p>
				<h1 class="hocheader">The HOC Gallery</h1>
				Honda Owners' Club Kenya takes part in meet and greets, charity events, 
				drives and races. Here are some of the memories from past events. Enjoy!
			</p>
			<br/><br/>
			<%= render 'carousel' %>
		</div>
		
	</div>
</div>
		