/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-datepicker3
 *= require select2
 *= require select2-bootstrap
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/*
official HOC red 
Hex: ee1d23
RGBA: 238,29,35,255

Hover Hex: #d51017
*/
body, html {
  /*height: 100%;
  background-repeat: no-repeat;*/
  background-color: rgb(32, 32, 32);
  background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,1)), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
  background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
  background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px;
}

.hoctransparent{
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 0);
}

h1.hocheader{
	color: #ed1219;
}

.hocnoborder{
	border : none;
}
.hocredbtn{
	color: #fde8e9;
	background-color: #d51017;
	border-color: #d51017;
	
}
.hocredbtn:hover{
	color: #fde8e9;
	background-color: #ed1219;
	border-color: #ef2a30;
	box-shadow: 0 0 6px #ef2a30;
}
.hocredbtn:focus{
	color: #fde8e9;
	background-color: #ed1219;
	border-color: #ed1219;
}


.hocredbtn:active:hover{
	color: #f8a0a3;
	background-color: #d51017;
	border-color: #d51017;
	box-shadow: 0 0 6px #d51017;
}
.hocredbtn:active:focus{
	color: #f8a0a3;
	background-color: #d51017;
	border-color: #d51017;
}



.hocredbtnlink{
	color: #fde8e9;
	background-color: #5f070a;
	border-color: #8e0b0f;
	box-shadow: 0 0 16px #5f070a;
	
}
.hocredbtnlink:hover{
	color: #fde8e9;
	background-color: #8e0b0f;
	border-color: #bf0d13;
}
.hocredbtnlink:focus{
	color: #fde8e9;
	background-color: #8e0b0f;
	border-color: #bf0d13;
	box-shadow: 0 0 10px #f8a0a3;
}


.hocredbtnlink:active:hover{
	color: #f8a0a3;
	background-color: #bf0d13;
	border-color: #bf0d13;
}
.hocredbtnlink:active:focus{
	color: #f8a0a3;
	background-color: #d51017;
	border-color: #d51017;
}

.hocwhite{
	color: #a6a6a6;
}

.hocimgbox{
	box-shadow: 5px 5px 30px lightblue;
}
.p5{
	padding: 5px
}

.top_left {
    top:0;
    right:0;
    /*margin-left: 50%;*/
    min-height: 25px;
    padding: 2px;
    /*width: 50%;*/
    text-align: center;
    position: absolute;
    position:relative;
    color: black;
    opacity: 0.8;
}

.green-background{
	background-color: #25E32A;
}

.round-corner{
      -webkit-border-radius: 4px !important;
         -moz-border-radius: 4px !important;
              border-radius: 4px !important;
      -webkit-border-top: 4px !important;
         -moz-border-top: 4px !important;
              border-top: 4px !important;
      -webkit-border-bottom: 4px !important;
         -moz-border-bottom: 4px !important;
              border-bottom: 4px !important;
    }