<%= render 'layouts/topnavbar' %>
		
	
	<div class="panel-body hocwhite">
		
		<div class="col-xs col-sm col-lg" >
		
			<div class="hoctransparent hocwhite">
				<div class="container hoctransparent">
					<%= render 'shared/flash' %>
					<%= yield %>
				</div>
			</div>
			
			
		</div>
		
  	</div>
 
<%= render 'layouts/footer' %>