<%= render 'layouts/topnavbar' %>
	<%= render 'shared/flash' %>	
	
	<div class="panel-body hocwhite">
		
		<div class="col-xs col-sm col-lg" >
		
		
			<%= yield %>
		</div>
		
  	</div>
 
<%= render 'layouts/footer' %>